#filedrag
{
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #A6A6A6;
  border: 1px dashed #A6A6A6;
  border-radius: 7px;
  cursor: default;
}
#results img{
  max-width: 100%;
}
#filedrag.filehover
{
  color: #000;
  background: #eee;
  border: 1px solid #000;
}


.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
  max-width: 730px;
}

/* Remove the padding we set earlier */
.header,
.marketing,
.footer {
  padding-left: 0;
  padding-right: 0;
}

/* Space out the masthead */
.header {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

